section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.features .card span {
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

/* Muda a cor do cabeçalho do card */
.features .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Muda a cor do paragrafo do card */
.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

/* Muda a cor do link do card */
.features .card a {
    color: #fff;
    transition: all 0.3s ease;
}

/* Muda a cor da imagem do card */
.features .card a:hover {
    color: #1e40af;
}